.card {
  grid-row: 1 / span 2;

  .cardContent {
    border-radius: 0.25rem;
    cursor: pointer;
    position: relative;

    .cardImgContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 0.25rem;

      img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
        transition: transform 0.2s ease-in-out;
      }
    }

    .innerContent {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      .category {
        display: inline-block;
        background-color: var(--green);
        color: var(--white);
        padding: 0.3rem 0.5rem;
        border-radius: 0.25rem;
        font-weight: 500;
        font-size: .85rem;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
      }

      .blogTitle {
        font-size: 2rem;
        margin-block: 1.5rem;
      }

     .innerFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .dateWrapper {
        display: flex;
        align-items: center;
        gap: .5rem;

        .created,
        .bullet,
        .minutesToRead {
          color: var(--gray);
          font-size: .85rem;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
     }
    }

    &:hover {
      .cardImgContainer {
        img {
          transform: scale(1.05);
        }
      }
    }
  }
}

@media only screen and (max-width: 1441px) {
  .card {
    .cardContent {
      .cardImgContainer {

      }
    }
  }
}

@media only screen and (max-width: 1201px) {
  .card {
    .cardContent {

    }
  }
}

@media only screen and (max-width: 961px) {
  .card {
    grid-row: auto;
    .cardContent {
      .cardImgContainer {
        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 721px) {
  .card {
    .cardContent {
      // padding-inline: 2rem;
    }
  }
}
