.container {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  margin-top: 10rem;
  margin-bottom: 3rem;

  .category {
    display: inline-block;
    background-color: var(--green);
    color: var(--white);
    padding: 0.3rem 0.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
    font-size: .85rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  h1 {
    font-size: 5rem;
    margin-block: 2rem;
  }

  .created {
    color: var(--gray);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
  }
}

.hero {
  height: 32rem;
  width: 80%;
  margin: 0 auto;

  .coverPhoto {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
  }
}

.blogPost {
  margin-top: 2rem;
  max-width: 700px;

  .content {
    margin-bottom: 5rem;

    h2 {
      font-size: 2rem;
      margin-top: 2rem;
    }

    h3 {
      font-size: 1.5rem;
      margin-top: 2rem;
      line-height: 1.2em;
    }

    p {
      margin-bottom: .8rem;
      line-height: 1.6em;
    }

    a {
      color: var(--blue);
      text-decoration: underline;
    }

    blockquote {
      position: relative;
      margin-bottom: 4rem;
      font-size: 1.2rem;
      border-left: 2px solid var(--gray);
      padding-top: 4rem;
      padding-left: 2rem;

      &:before {
        position: absolute;
        font-size: 6rem;
        color: var(--gray-light);
      }

      &:before {
        content: '“';
        left: 2rem;
        top: -1rem;
      }

      a {
        display: inline-block;
        margin-top: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 721px) {
  .container {
    padding-inline: 2rem;
  }

  .hero {
    width: 100%;
    margin: 0;

    .coverPhoto {
      background-attachment: scroll;
      background-size: cover;
    }
  }

  .blogPost {
    padding-inline: 2rem;
  }
}

@media only screen and (max-width: 481px) {
  .header {
    .title {
      font-size: 4rem;
    }
  }
}
