.hero {
  height: 100vh;
  display: flex;

  .heroContainer {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 4rem;

    .heroContent {
      width: 50%;

      .heroTitle {
        font-size: 6.18rem;
        color: var(--black);
        line-height: 0.9;
        letter-spacing: -0.1rem;

        span {
          color: var(--green);
        }
      }

      .heroDescription {
        margin-top: 2.5rem;
        color: var(--gray);
        line-height: 1.6em;
        margin-bottom: 4rem;
      }

      .heroButton {
        background-color: var(--blue);
        color: var(--white);
        padding: 1.2rem 2.5rem;
        border-radius: 100vh;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: .1rem;
        cursor: pointer;

        &:hover {
          background-color: var(--blue-light);
        }
      }
    }

    .heroImage {
      width: 50%;

      img {
        max-width: 100%;
      }
    }
  }
}

.blogPostsContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding-block: 6rem;

  .blogPostsTitle {
    font-size: 3.88rem;
    margin-bottom: 2rem;

    span {
      color: var(--green);
    }
  }

  .blogPosts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}

@media only screen and (max-width: 1441px) {
  .hero {
    .heroContainer {
      max-width: 1200px
    }
  }

  .blogPostsContainer {
    max-width: 1200px;
  }
}

@media only screen and (max-width: 1201px) {
  .hero {
    height: auto;
    margin-top: 10rem;

    .heroContainer {
      max-width: 960px;
      flex-direction: column;
      justify-content: flex-start;
      gap: 8rem;

      .heroContent {
        width: 100%;
      }

      .heroImage {
        width: 100%;
      }
    }
  }

  .blogPostsContainer {
    max-width: 960px;
  }
}

@media only screen and (max-width: 961px) {
  .hero {
    .heroContainer {
      max-width: 720px
    }
  }

  .blogPostsContainer {
    max-width: 720px;

    .blogPosts {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 4rem;
    }
  }
}

@media only screen and (max-width: 721px) {
  .hero {
    .heroContainer {
      max-width: 100%;
      padding-inline: 2rem;
    }
  }

  .blogPostsContainer {
    max-width: 100%;
    padding-inline: 2rem;

    .blogPosts {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2rem;
    }
  }
}

@media only screen and (max-width: 481px) {
  .hero {
    .heroContainer {
      .heroContent {
        .heroTitle {
          font-size: 4.5rem;
        }
      }
    }
  }

  .blogPostsContainer {
    .blogPostsTitle {
      font-size: 3rem;
    }
  }
}
